*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}
h1 {
    margin-bottom: 20px;
}
#addTodo{
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: rgb(24, 21, 21);
}
ul{
    margin-top: 20px;
}
#todo{
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 3px;
    margin-right: 10px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
#todoTask{
    border: none;
    color: rgb(34, 31, 31);
    padding: 5px;
    font-size: 20px;
    background-color: transparent;
}
.saveBtn{
    padding: 5px 10px;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    background-color: black;
}
li{
    border-radius: 5px;
    padding: 2px 7px;
    /* box-shadow: 1px 1px 1px #dadada; */
    border: 1px solid #dadada;
    margin-top: 10px;
}
.cross-img{
    width: 10px;
    margin-left: 10px;
}
.row, li{
    gap: 4px;
    display: flex;
    margin: 10px 0px;
    box-sizing: border-box;
    justify-content: center;
}

.del-img{
    width: 16px;
}
button{
    border: none;
    background-color: transparent;
}